body{

    background-color: rgb(11, 11, 11);
}

h1{
    color: antiquewhite
}

h6{
    color: antiquewhite
}

ul{
    color:antiquewhite
}

li{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}

li img{
    width:30px;
    height: 30px;
}

li:hover{
    color:rgb(247, 4, 4);
    font-size: 20px;
}